* {
    overscroll-behavior: none;
}

html {
    font-size: 16px;
}

body { 
    color: transparent;
    background-color: #FFFEFC;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    margin: 0;
}   

@font-face {
    font-family: 'ABC Diatype';
    src: url('/docs/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Medium';
    src: url('/docs/assets/type/ABC_Diatype_Medium.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Semi-Mono';
    src: url('/docs/assets/type/ABC_Diatype_Semi-Mono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: bolder;
}

hr {
    background: #111;
    border: 0;
    height: 5px;
    display: block;
}

p {
    font-family: "ABC Diatype", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    color: #111;
    line-height: 1.4;
    margin-bottom: 0;
}

p a {
    color: #111;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 1.25rem;
    }
}

h3 {
    font-family: "ABC Diatype Semi-Mono", monospace;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    color: #111;
    font-style: normal;
    line-height: 1.4;
    margin-bottom: 1rem;
}

h2 {
    font-family: "ABC Diatype", sans-serif;
    font-size: clamp(1.75rem,4vw,2.25rem);
    font-style: normal;
    font-weight: 400;
    color: #111;
    line-height: 1.2;
    padding: 0 0 .15rem 0;
    margin: 0;
}

h1 {
    font-family: "ABC Diatype Medium", sans-serif;
    font-size: clamp(2rem,4vw,2.5rem);
    font-style: normal;
    font-weight: 600;
    color: #111;
    line-height: 1.2;
    padding: 0 0 .25rem 0;
    margin: 0;
}

h3 a, h2 a, h1 a {
    color: #111;
    text-decoration: none;
}

blockquote {
    margin: 2rem auto;
    padding: 0 .5rem 0 .5rem;
}

main {
    display: flex;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.cover {
    flex: 1;
    position: sticky;
    top: 0;
    background: no-repeat center center; 
    background-size: cover;
    border-right: 5px solid #111
}

.text-wrapper {
    max-width: 47.5rem;
    margin: auto;
    padding: 2rem 1.5rem;
}

.text {
    flex: 1;
    overflow: auto;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .cover {
        flex: 0.45;
        height: 45vh;
        border-right: none;
    }

    .text {
        flex: 0.55;
        height: 55vh;
    }

    .cover {
        border-bottom: 5px solid #111;
    }
}

/*——Classes*/

.dropcap {
    font-family: "ABC Diatype", sans-serif;
    font-size: 7rem;
    font-style: normal;
    font-weight: 800;
    color: #111;
    line-height: 4.5rem;
    float: left;
    padding-top: .75rem;
    padding-right: .5rem;
}

.finger {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #111;
    margin-top: 1rem;
}

.coda {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #111;
    margin: 4rem auto 0 auto;
}

.skull {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #111;
}

.twinkie-text:not(.fin) {
    padding-bottom: clamp(3rem,5vw,4rem);
}

/*Features*/

/*——Blink*/

.blink {
    animation: 1.5s infinite blink;
    display: inline-block;
}

@keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
	}
}    

@-webkit-keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
	}
}

/*——Custom cursor*/

a:hover {
    cursor: url(/docs/assets/graphics/smiley_hover.svg), auto;
}

html {
    cursor: url(/docs/assets/graphics/smiley_point.svg), auto;
}