* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: url(/assets/graphics/smiley_point.svg), auto;
}

html a:hover {
    cursor: url(/assets/graphics/smiley_hover.svg), auto;
}

body { 
    background: #FFFEFC;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    margin: 0;
    padding: 0;
}   

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Medium';
    src: url('/assets/type/ABC_Diatype_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Semi-Mono';
    src: url('/assets/type/ABC_Diatype_Semi-Mono.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-family: 'ABC Diatype Medium';
    font-weight: 500;
}

hr {
    background: #111;
    border: 0;
    height: 5px;
    display: block;
}

p {
    font-family: 'ABC Diatype', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
    color: #111;
    line-height: 1.5;
    margin: 0;
}

p a {
    color: #111;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 1.25rem;
    }
}

h3 {
    font-family: 'ABC Diatype Semi-Mono', monospace;
    font-size: clamp(1.1rem,4vw,1.2rem);
    font-weight: 400;
    font-style: normal;
    color: #111;
    line-height: 1.4;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'ABC Diatype', sans-serif;
    font-size: clamp(1.6rem,5vw,2.3rem);
    font-weight: 400;
    font-style: normal;
    color: #111;
    line-height: 1.2;
    padding: 0 0 .15rem 0;
    margin: 0;
}

h1 {
    font-family: 'ABC Diatype Medium', sans-serif;
    font-size: clamp(1.7rem,4vw,2.4rem);
    font-weight: 500;
    font-style: normal;
    color: #111;
    line-height: 1.2;
    padding: 0 0 .25rem 0;
    margin: 0;
}

h3 a, h2 a, h1 a {
    color: #111;
    text-decoration: none;
}

blockquote {
    margin: 2rem auto;
    padding: 0 .5rem 0 .5rem;
}

.page {
    display: flex;
    width: 100%;
    height: 100%;

}

.cover {
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    background: no-repeat center center; 
    background-size: cover;
    border-right: 5px solid #111;
}

.text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.text-wrapper {
    max-width: 47.5rem;
    padding: 3rem 1.5rem;
}

/*Mobile*/

@media (max-width: 768px) {
    .page {
        flex-direction: column;
        height: 100vh;
    }

    .cover {
        flex: 0.4;
        border-right: none;
        border-bottom: 5px solid #111;
    }

    .text {
        flex: 0.6;
        height: auto;
    }

    .text-wrapper {
        margin: auto 0;
    }

    .links {
        padding-bottom: 3rem;
    }
}

/*——Classes*/

.dropcap {
    font-family: "ABC Diatype", sans-serif;
    font-size: 7rem;
    font-weight: 800;
    color: #111;
    line-height: 4.5rem;
    float: left;
    padding: .75rem .5rem .75rem 0rem;
}

.finger {
    text-align: center;
    padding: 3rem 0;
}

.coda {
    text-align: center;
    color: #111;
    padding: 4rem 0 6rem 0;
}

@media screen and (max-width: 768px) {
    .coda img {
        height: 36px;
        width: 25px;
    }
}

.links {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
}	


.skull {
    text-align: center;
    padding-top: clamp(1rem, 3vw, 1.5rem);
    padding-bottom: 1rem;
}

.twinkie-text:not(.fin) {
    padding-bottom: clamp(3rem,5vw,4rem);
}

/*Features*/

/*——Blink*/

.blink {
    animation: 1.5s infinite blink;
    display: inline-block;
}

@keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
	}
}    

@-webkit-keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
	}
}
